/* Enlaces */
a {
    color: white;
}

/* Estilo del cuerpo */
body {
    margin:0;

    font-family: "Nunito Medium", Arial, sans-serif;
}

/* Estilo del cabecero */
header {
    display: flex;

    width: 100%;
    height: auto;

    background-color: #2D4E51;
    color: white;

    overflow: visible;

    justify-content: center;

    font-family: "Aristotelica Text Bold", Arial, sans-serif;
    font-size: x-large;
}

.hcontent {
    display: flex;

    min-width: 70%;
    max-width: auto;

    align-items: center;

    flex-wrap: wrap;
}

.hcontent .push {
    margin-left: auto;
}

.hcontent .ori {
    width: 10em;
    text-align: center;

    font-size: large;
    font-family: "Minion Pro Regular", "EB Garamond", "Times New Roman", serif;
}

nav {
    display: flex;

    width: 100%;
    height: auto;

    background-color: #DD4E51;
    color: white;

    font-family: "Nunito Bold", Arial, sans-serif;
    font-weight: bold;

    justify-content: center;

    overflow: visible;

    flex-wrap: wrap;
}

/* Estilo de los breadcrumbs */
.navcontent {
    display: flex;

    min-width: 70%;
    max-width: auto;
}

.navcontent > p {
    margin-left: 1em;
}

/* Estilo del pie */
footer {
    display: flex;

    width: 100%;
    height: auto;

    position: fixed;
    bottom: 0px;

    background-color: #2D4E51;
    
    overflow: visible;

    justify-content: center;
    align-items: center;
}